<div class="container mt-5">
  <h2 class="mb-4">My Profile</h2>
  <div class="mb-3"><strong>User Name:</strong> {{ userName }}</div>

  <hr class="my-5" />

  <h3 class="mb-3">My Orders</h3>

  <div *ngIf="userOrders.length === 0">No orders yet.</div>

  <div *ngFor="let order of userOrders" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Order #{{ order._id }}</h5>
      <p class="card-text">Total: {{ order.totalAmount | currency : "EGP" }}</p>
      <p class="card-text">Status: {{ order.status }}</p>
      <p class="card-text">Date: {{ order.orderDate | date : "short" }}</p>

      <small class="text-muted">
        Items:
        <span *ngFor="let item of order.items; let i = index">
          {{ item.name }} (x{{ item.quantity }})
          <span *ngIf="!item.rating">
            |
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="openRatingDialog(order._id, item.productId)"
            >
              Rate
            </button>
          </span>
          <span *ngIf="item.rating"> | Rated: {{ item.rating }} ⭐ </span>
          <span *ngIf="i < order.items.length - 1">, </span>
        </span>
      </small>
    </div>
  </div>

  <p-dialog
    [(visible)]="ratingVisible"
    [modal]="true"
    [closable]="false"
    header="Rate This Book"
  >
    <div class="text-center">
      <p class="mb-2">How would you rate this book?</p>
      <p-rating [(ngModel)]="userRating" [cancel]="false"></p-rating>
      <br />
      <button class="btn btn-success mt-3" (click)="submitRating()">
        Submit
      </button>
    </div>
  </p-dialog>
</div>
