<header class="navbar-container">
    <div class="navbar-logo">
        <span class="brand">Booky</span>
    </div>

    <nav class="navbar-links">
        <a routerLink="/">Home</a>
        <a routerLink="/shop">Shop</a>
        <a routerLink="/cart">Cart</a>
        <a routerLink="/watchlist">Watch List</a>
    </nav>

    <div class="navbar-icons">
        <a routerLink="/profile" class="icon"><i class="fas fa-user"></i></a>
        <a routerLink="/orders" class="icon"><i class="fas fa-shopping-bag"></i></a>
    </div>
</header>