<!-- <form [formGroup]="verifyForm" (ngSubmit)="handleSubmitForm()">
  <label>Enter OTP:</label>
  <input type="text" formControlName="otpCode" />
  <button type="submit">Verify</button>
  <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
</form> -->


<div class="register-container">
    <div class="register-box">
      <!-- Header Tabs -->
      <div class="tabs">
        <!-- <a routerLink="/login" class="tab">Login</a> -->
        <span class="tab active">Email verification</span>
        <!-- <span class="close">×</span> -->
      </div>
  <div>
    <p>
          Please Enter verification Code    </p>
  </div>
    <form [formGroup]="verifyForm" (ngSubmit)="handleSubmitForm()">

      <div class="form-group">
            <input type="text" formControlName="otpCode" />
      </div>
      
      <button type="submit" class="submit-btn" >Verify</button>
    </form>


  </div>

</div>


