<section class="img-bg">
  <div class="container p-5">
    <div class="row">
      <div class="col-6">
        <h1 class="w-75">
          We collect all books in one place. read the best seller books
        </h1>
        <p>
          Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia.
        </p>
<button class="btn btn-primary" (click)="goToShop()">Shop Now</button>
      </div>
      <div class="col-6 position-relative">
        <img
          src="../../assets/decor-image01.svg"
          class="decorator w-100"
          alt=""
        />
        <img
          src="../../assets/image30-copyright.webp"
          class="img-fluid w-75"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="container p-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Best Seller Books</h1>
    </div>
  </div>


  <section class="best-sellers">
    <h2>Best Seller Books</h2>
    <div class="books-grid">
      <app-cardbook
        *ngFor="let book of booksData"
        [bookData]="book"
      ></app-cardbook>
    </div>
  </section>


</section>
