
<div class="register-container">
  <div class="register-box">
    <!-- Header Tabs -->
    <div class="tabs">
      <!-- <a routerLink="/login" class="tab">Login</a> -->
      <span class="tab active">Password Reset</span>
      <!-- <span class="close">×</span> -->
    </div>
<div>
  <p>
    Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
  </p>
</div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleSubmitForm()">

      <div class="form-group">
        <input type="email" formControlName="email" placeholder="name@example.com" />

          <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required'] && forgotPasswordForm.get('email')?.touched" class="text-danger">
            Email is required
          </div>
          <!-- <div *ngIf="forgetPassword.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="text-danger">
            Invalid email format
          </div> -->
      </div>






      <button type="submit" class="submit-btn" >Send</button>
    </form>
  

  </div>
</div>
