.img-bg {
    background-image: url('../../assets/bg-image08.jpg');
}

.decorator {
    // width: 50%;
    height: auto;
    position: absolute;
    top: -30px;
    left: -30px
}

.books {
    // width: 646px;
    // height: 558px
}